<p id="notice"><%= notice %></p>

<h1>Lista de Artigos</h1>

----- formualario ----
    <%= form_tag(articles_path, :method => :get ) do %>
      <%=  text_field_tag 'search', nil, placeholder: 'enter ...' %>

      <%= submit_tag "Search" %>
    <% end %>

  <tbody>
    <% sequencia = Hash.new  %>
    <% a = 1 %>
    <% @articles.each do |article| %>
          <% sequencia[a] = article %>
          <% a = a + 1 %>
    <% end %>

    <% a = a -1 %>
    <% while(a >= 1) %>
          Título: <%= sequencia[a].title %><br>
          Artigo: <%= link_to "#{sequencia[a].title}", sequencia[a].pdf.url %><br>
          <%= link_to 'Mais Informações', sequencia[a] %>
        
            <td><%= link_to 'Edit', edit_article_path(sequencia[a]) %></td>
            <td><%= link_to 'Destroy', sequencia[a], method: :delete, data: { confirm: 'Are you sure?' } %><br><br><br>
          <% a = a -1 %>

    <% end %>
    <%= link_to 'New Article', new_article_path %>
  </tbody>